body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://i.pinimg.com/originals/2a/3b/cb/2a3bcbcbe4e14c1cf24ef307c10c1fb9.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    text-align: center;
}

/* Add this CSS rule to make text color green */
h1 {
    color: rgb(217, 255, 26);
    text-shadow: 2px 2px 4px black; /* Adding black outline */
}

 p {
    color: rgb(246, 35, 35);
    text-shadow: 2px 2px 4px black; /* Adding black outline */
}


footer {
    /* position:absolute;
    top:80%; */
    text-align: center; /* Centering text in the footer */
}
